@import "tailwindcss";


body {
    font-family: 'Inter', sans-serif;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8); /* Warna latar belakang dengan transparansi */
    backdrop-filter: blur(5px); /* Efek blur untuk latar belakang */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan untuk efek kedalaman */
}

.hamburger-active  span:nth-child(1) {
    transform: rotate(45deg)  translateY(12px);
    transition: transform 0.3s ease-in-out;
}

.hamburger-active  span:nth-child(3) {
    transform: rotate(-45deg) translateY(-16px);
    transition: transform 0.3s ease-in-out;
    margin-bottom: -10px;
}

.hamburger-active  span:nth-child(2) {
    opacity: 0;
}
